<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/effect2.css" />
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
		<script src="static/js/modernizr.custom.js"></script>

        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>MOCA: MOOC Course Assistant</title>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


	</head>
	<body class="demo-2">
		<div id="ip-container" class="ip-container">
			<!-- initial header -->
			<header class="ip-header">
					<br><br><font size="8"></font> <br> <br><br>
					<video width="610" autoplay="autoplay" style="border-style: solid;
    border-width: 15px; border-color: black; margin-left: 0px; margin-right: 0px" >
						<source src="static/video/animation.mp4" type="video/mp4" />
					</video>
				<div class="ip-loader">
					<svg class="ip-inner" width="1px" height="1px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>

			<!-- main content -->
                        <div class="container">
                            <div class="home-header">
                                <h2>MOCA: MOOC Course Assistant</h2>
                                <h3>Courses</h3>
                            </div>
                            <div class="row">
                                <div class="col m6">
                                    <a href="/textretrieval" class="course-link">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="/static/img/textretrieval.jpg">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-text text-darken-4">Text Retrieval and Search Engines</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col m6">
                                    <a href="/textanalytics" class="course-link">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="/static/img/textanalytics.jpg">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-text text-darken-4">Text Mining and Analytics</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
		</div><!-- /container -->
		<script src="static/js/classie.js"></script>
		<script src="static/js/pathLoader.js"></script>
		<script src="static/js/main.js"></script>
                <script>
$('video').on('ended', function() {
    history.pushState(null, null, '/home');
});
                </script>
	</body>
</html>
