{% extends "layout.html" %}
{% block body %}
<h3>{{ course_name }}</h3>
<h4>Topics</h4>
<ul>
    {% for topic in hardest_topics %}
    <li>
        <a href="/{{ course_id }}/topic/{{ topic.id }}">
            {{ topic.name }} (Difficulty: {{ topic.difficulty }})</li>
        </a>
    {% endfor %}
</ul>
<h4>Lectures</h4>
<ul>
    {% for lecture in lectures %}
    <li>
        <a href="/{{ course_id }}/lecture/{{ lecture.id }}">
            {{ lecture.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
