{% extends "layout.html" %}
{% block body %}
<h1>{{ course_id }}</h1>
<h2>Hardest Topics</h2>
<ul>
    {% for topic in hardest_topics %}
    <li>{{ topic }}</li>
    {% endfor %}
</ul>
<h2>Easiest Topics</h2>
<ul>
    {% for topic in easiest_topics %}
    <li>{{ topic }}</li>
    {% endfor %}
</ul>
<h2>Lectures</h2>
<ul>
    {% for lecture in lectures %}
    <li>
        <a href="/{{ course_id }}/lecture/{{ lecture.id }}">
            {{ lecture.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
