{% extends "layout.html" %}
{% block body %}
<h3>Lecture: {{ lecture.title }}</h3>

<div id="topic-chips" style="line-height: 2.5em">Topics: </div>
<script>
function weakCoffeeMapColor(topicId){
    var coffeeArray = ["#644C37","#221116","#B28F4F","#5A352D","#D0906D","#CA944E","#845730","#763F21","#7A2F18","#4E2F07","#61190B","#B8732A", "#ECECD2", "#BA8C62", "#97614C", "#110C0B", "#571914", "#EBC394", "#8E644E" , "#4D3628", "#ECC76F", "#E9DCB2" ];
    return coffeeArray[topicId % coffeeArray.length];
}

function hexToRgb(hex) {
    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
    } : null;
}

for (var i = 0; i < {{ hardest_topics | length }}; i++) {
    var id = '#topic-' + i;
    $(id)
        .css('padding-left', '10px')
        .css('border-left', '20px solid ' + weakCoffeeMapColor(i));
}

var coverage = JSON.parse('{{ coverage | tojson }}');
var topics = {};
coverage.forEach(function(topic) {
    if (topic.name in topics) return;
    var color = hexToRgb(weakCoffeeMapColor(topic.id));
    var o = Math.round(((color.r * 299) + (color.g * 587) + (color.b * 114)) / 1000);
    var textColor = o > 125 ? 'black' : 'white';
    $('#topic-chips').append(`<a href="/{{ course_id }}/topic/${topic.id}"><div class="chip" style="background-color: ${weakCoffeeMapColor(topic.id)}; color: ${textColor}">${topic.name}</div></a> `);
    topics[topic.name] = true;
});
</script>

<p>Confusion is a normalized measure of the number of times students have paused, resumed, or seeked to a given minute in the lecture video.</p>

<div id="viz" class="viz"></div>

<!--  D3 Graph -->
<style scoped> /* set the CSS */

path { 
    stroke: brown;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


</style>

<!-- load the d3.js library -->    
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
function weakCoffeeMapColor(topicId){
    var coffeeArray = ["#644C37","#221116","#B28F4F","#5A352D","#D0906D","#CA944E","#845730","#763F21","#7A2F18","#4E2F07","#61190B","#B8732A", "#ECECD2", "#BA8C62", "#97614C", "#110C0B", "#571914", "#EBC394", "#8E644E" , "#4D3628", "#ECC76F", "#E9DCB2" ];
    return coffeeArray[topicId % coffeeArray.length];
}

// Set the dimensions of the canvas / graph
var margin = {top: 30, right: 85, bottom: 150, left: 125},
    width = 850 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%M:%S").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var topic = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(0);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

var topicAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5)
    .tickFormat(d3.time.format("%M:%S"));

// Define the line
var valueline = d3.svg.line()
    .interpolate("monotone")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.count); });
    
// Adds the svg canvas
var svg = d3.select("#viz")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

var string = "topicName,date,close\n"+"clustering,00:00,0\n"+"nonsense,01:00,53.98\n"+"categorization,02:00,99.00\n"+"evaluation,03:00,34.28\n"+"devastation,06:00,63.44\n"+"review,07:00,43.34\n";

var test = "time,topic,count\nclustering,00:00,39\notherwise,01:00,30\n"

var array = [];
{% for count in heatmap %}
array.push({{ count }});
{% endfor %}

// Normalize
var maxDifficulty = Math.max(...array);
array = array.map(function(d) {
    return d / maxDifficulty;
});
console.log(array);

var topicString = "id,topic,date,count\n";
var counter = 0;
{% for topic in coverage %}
topicString = topicString + "{{ topic.id }}" + "," + "{{ topic.name }}" + "," + (( {{ topic.minute }} < 10)?"0":"") + "{{ topic.minute }}" + ":00," + array[counter] + "\n";
console.log(topicString);

counter = counter +1;
{% endfor %}

data = d3.csv.parse(topicString, function(d) {
    return {
        id: d.id,
        topic: d.topic,
        date: parseDate(d.date),
        count: +d.count
    };    
});



    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date }));
    topic.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.count; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .style("stroke-dasharray", ("3, 3"))
        .attr("d", valueline(data));

    // Add title
    svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")  
        .style("font-size", "16px") 
        .style("text-decoration", "underline")  
        .text("{{lecture.title}}");


    // Add the rectangles for topics
    svg.selectAll("dot")
        .data(data)
      .enter()
        .append("svg:a")
        .attr("xlink:href", "#")
        .attr("class", "seek tooltipped")
        .attr("data-time-minutes", function(d, i) { return i; })
        .attr("data-position", "top")
        .attr("data-delay", 0)
        .attr("data-tooltip", function(d) { return d.topic; })
        .append("rect")
        .attr("y", height+20)
        .attr("height", 40)
        .attr("x", function(d) { return x(d.date); })
        .attr("width",  function(d) { return width - x(d.date); })
        .style("fill", function(d) { return weakCoffeeMapColor(d.id); });

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add topic axis
    svg.append("g")
        .attr("class", "topic axis")
        .attr("transform", "translate(0," + 300 + ")")
        .call(topicAxis);


    // X axis label
    svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "middle")
    .attr("x", width/2 )
    .attr("y", height + 120)
    .text("Time (minutes)");

    // Y axis label
    svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", height/2)
    .attr("x", -40 )
    .text("Confusion");

    // Y axis label
    svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", height+50)
    .attr("x", -40 )
    .text("Topic");

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
</script>

<!--  -->

{#
<h4>Topics (by minute)</h4>
<ul>
{% for topic in coverage %}
<li>
    <a href="#" class="seek" data-time-minutes="{{ topic.minute }}">{{ topic.minute }}:00</a> -
    <a href="/{{ course_id }}/topic/{{ topic.id }}">{{ topic.name }}</a>
</li>
{% endfor %}
</ul>
#}

<video id="lecture_video" controls poster="/static/img/{{ course_id }}.jpg" style="text-align:center;">
    <source type="video/webm" src="{{ lecture.video_url_webm }}">
    <source type="video/mp4" src="{{ lecture.video_url_mp4 }}">
    <track kind="subtitles" srclang="en" src="{{ lecture.subtitles_url }}" default>
</video>

<script>
$('.seek').click(function(e) {
    var seek = $(e.currentTarget);
    var seekTime = parseInt(seek.attr('data-time-minutes')) * 60;

    var video = $('#lecture_video')[0];
    video.currentTime = seekTime;
    video.play();

    return false;
});
</script>
{% endblock %}
